@{
    ViewData["Title"] = "主页";
}

<div class="row">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="~/images/profile/me.png" alt="User profile picture">
                <h3 class="profile-username text-center">许 立</h3>
                <p class="text-muted text-center">软件工程师/架构师</p>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>点赞</b> <a class="pull-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                        <b>关注</b> <a class="pull-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>粉丝</b> <a class="pull-right">13,287</a>
                    </li>
                </ul>
                <img class="img-responsive thumbnail" src="~/images/profile/qrcode.jpg" alt="Photo">
                <a href="#" class="btn btn-primary btn-block"><b><i class="fa fa-heart-o margin-r-5"></i> 关注我</b></a>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">关于我</h3>
            </div>
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> 教育经历</strong>
                <br /><br />
                <p class="text-muted">
                    <strong>2007/09 - 2009/07</strong><br /> 武汉大学 信息科学技术 硕士
                </p>
                <p class="text-muted">
                    <strong>2002/09 - 2006/07</strong><br />	南京邮电大学  信息科学技术  本科
                </p>
                <hr>
                <strong><i class="fa fa-map-marker margin-r-5"></i> 位置</strong>
                <br /><br />
                <p class="text-muted">北京市, 朝阳区</p>
                <hr>
                <strong><i class="fa fa-pencil margin-r-5"></i> 专业技能</strong>
                <br /><br />
                <p>
                    <span class="label label-sm label-danger">C/C++</span>
                    <span class="label label-sm label-danger">C#</span>
                    <span class="label label-sm label-danger">Java</span>
                    <span class="label label-sm label-danger">Golang</span>
                </p>
                <p>
                    <span class="label label-sm label-success">.NET Core</span>
                    <span class="label label-sm label-success">WPF</span>
                    <span class="label label-sm label-success">EF</span>
                    <span class="label label-sm label-success">微信小程序</span>
                    <span class="label label-sm label-success">IOS开发</span>
                </p>
                <p>
                    <span class="label label-sm label-info">Javascript</span>
                    <span class="label label-sm label-info">Bootstrap</span>
                    <span class="label label-sm label-info">AngularJS</span>
                    <span class="label label-sm label-info">Node.js</span>
                </p>
                <p>
                    <span class="label label-sm label-warning">Oracle</span>
                    <span class="label label-sm label-warning">MySql</span>
                    <span class="label label-sm label-warning">Sql Server</span>
                    <span class="label label-sm label-warning">Redis</span>
                    <span class="label label-sm label-warning">MongoDB</span>
                </p>
                <p>
                    <span class="label label-sm label-primary">设计模式</span>
                    <span class="label label-sm label-primary">数据结构</span>
                    <span class="label label-sm label-primary">数据库</span>
                    <span class="label label-sm label-primary">计算机网络</span>
                    <span class="label label-sm label-primary">通信原理</span>
                    <span class="label label-sm label-primary">软件测试</span>
                    <span class="label label-sm label-primary">项目管理</span>
                </p>
                <hr>
                <strong><i class="fa fa-file-text-o margin-r-5"></i> 兴趣爱好</strong>
                <br /><br />
                <p>球类运动、音乐、旅游、交友、读书</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class=""><a href="#activity" data-toggle="tab" aria-expanded="false">个人简介</a></li>
                <li class="active"><a href="#timeline" data-toggle="tab" aria-expanded="true">项目经历</a></li>
                <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">基本资料</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="activity">
                    <div class="post">
                        <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="~/lib/AdminLTE/dist/img/user1-128x128.jpg" alt="user image">
                            <span class="username">
                                <a href="#">Jonathan Burke Jr.</a>
                                <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                            </span>
                            <span class="description">Shared publicly - 7:30 PM today</span>
                        </div>
                        <p>
                            Lorem ipsum represents a long-held tradition for designers,
                            typographers and the like. Some people hate it and argue for
                            its demise, but others ignore the hate as they create awesome
                            tools to help create filler text for everyone from bacon lovers
                            to Charlie Sheen fans.
                        </p>
                        <ul class="list-inline">
                            <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                            <li>
                                <a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                            </li>
                            <li class="pull-right">
                                <a href="#" class="link-black text-sm">
                                    <i class="fa fa-comments-o margin-r-5"></i> Comments
                                    (5)
                                </a>
                            </li>
                        </ul>

                        <input class="form-control input-sm" type="text" placeholder="Type a comment">
                    </div>
                    <div class="post clearfix">
                        <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="~/lib/AdminLTE/dist/img/user7-128x128.jpg" alt="User Image">
                            <span class="username">
                                <a href="#">Sarah Ross</a>
                                <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                            </span>
                            <span class="description">Sent you a message - 3 days ago</span>
                        </div>
                        <p>
                            Lorem ipsum represents a long-held tradition for designers,
                            typographers and the like. Some people hate it and argue for
                            its demise, but others ignore the hate as they create awesome
                            tools to help create filler text for everyone from bacon lovers
                            to Charlie Sheen fans.
                        </p>

                        <form class="form-horizontal">
                            <div class="form-group margin-bottom-none">
                                <div class="col-sm-9">
                                    <input class="form-control input-sm" placeholder="Response">
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-danger pull-right btn-block btn-sm">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="post">
                        <div class="user-block">
                            <img class="img-circle img-bordered-sm" src="~/lib/AdminLTE/dist/img/user6-128x128.jpg" alt="User Image">
                            <span class="username">
                                <a href="#">Adam Jones</a>
                                <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
                            </span>
                            <span class="description">Posted 5 photos - 5 days ago</span>
                        </div>
                        <div class="row margin-bottom">
                            <div class="col-sm-6">
                                <img class="img-responsive" src="~/lib/AdminLTE/dist/img/photo1.png" alt="Photo">
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <img class="img-responsive" src="~/lib/AdminLTE/dist/img/photo2.png" alt="Photo">
                                        <br>
                                        <img class="img-responsive" src="~/lib/AdminLTE/dist/img/photo3.jpg" alt="Photo">
                                    </div>
                                    <div class="col-sm-6">
                                        <img class="img-responsive" src="~/lib/AdminLTE/dist/img/photo4.jpg" alt="Photo">
                                        <br>
                                        <img class="img-responsive" src="~/lib/AdminLTE/dist/img/photo1.png" alt="Photo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-inline">
                            <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                            <li>
                                <a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>
                            </li>
                            <li class="pull-right">
                                <a href="#" class="link-black text-sm">
                                    <i class="fa fa-comments-o margin-r-5"></i> Comments
                                    (5)
                                </a>
                            </li>
                        </ul>

                        <input class="form-control input-sm" type="text" placeholder="Type a comment">
                    </div>
                    <!-- /.post -->
                </div>
                <div class="tab-pane active" id="timeline">
                    <ul class="timeline timeline-inverse">

                        <!-- Project9 -->
                        <li class="time-label">
                            <span class="bg-light-blue">&nbsp;&nbsp;&nbsp;&nbsp;至今&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </li>
                        <li>
                            <i class="fa fa-tags bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time">持续时间:24个月 <i class="fa fa-clock-o"></i></span>
                                <h3 class="timeline-header">
                                    <a>项目名称</a> 中粮我买网ERP
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">责任描述: 资深工程师</p>
                                    <p class="text-muted">所在公司: 中粮我买网</p>
                                    <p class="text-muted">项目职务: 资深工程师</p>
                                    <p class="text-muted">项目职责: 项目组织工作、框架的搭建和重要功能模块的设计实现</p>
                                    <p class="text-muted">项目技术: ASP.net MVC，dapper，Web Api，angularJs，bootstrap，oracle</p>
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">更多 >></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-thumb-tack bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time">规模:24个人 <i class="fa fa-cube"></i></span>
                                <h3 class="timeline-header no-border">
                                    <a>项目描述</a>
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">1. 包括基础设置、审批流、商品模块、业务伙伴、订单管理、采购模块、库存模块、财务结算、报表模块等.</p>
                                    <p class="text-muted">2. 集公司数据中心，涉众公司各个部门终端用户，并提供供应商系统、仓库系统、配送系统和前台订单系统交互.</p>
                                    <p class="text-muted">3. 目标致力于界面友好，快速迭代，易部署易测试，便于功能拓展的系统.</p>
                                    <p class="text-muted">4. 在电商大数据量的特性下，部署多台负载均衡服务器，满足处理实时性和正确性要求.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-camera bg-purple"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-photo"></i></span>
                                <h3 class="timeline-header">
                                    <a>效果预览</a>
                                </h3>
                                <div class="timeline-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/9-1.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/9-2.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/9-3.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- Project8 -->
                        <li class="time-label">
                            <span class="bg-green">2015.02</span>
                        </li>
                        <li>
                            <i class="fa fa-tags bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time">持续时间:8个月 <i class="fa fa-clock-o"></i></span>
                                <h3 class="timeline-header">
                                    <a>项目名称</a> 列控中心维护终端&临时限速服务器维护终端
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">责任描述: 应用研发工程师</p>
                                    <p class="text-muted">所在公司: 易能(中国)电力科技有限公司</p>
                                    <p class="text-muted">项目职务: 高级研发工程师</p>
                                    <p class="text-muted">项目职责: 项目组织工作、框架的搭建，核心模块的实现</p>
                                    <p class="text-muted">项目技术: 包含C/S B/S架构,数据库(Oracle,Timesten)</p>
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">更多 >></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-thumb-tack bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time">规模:14个人 <i class="fa fa-cube"></i></span>
                                <h3 class="timeline-header no-border">
                                    <a>项目描述</a>
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">1. 稳态监视(断面、潮流、电压)、KPI指标监视、电压合格率监视、电网运行方式监视（母线分列状态）、基于GIS气象信息监控.</p>
                                    <p class="text-muted">2. 动态N-1结果监视、电网综合预警.</p>
                                    <p class="text-muted">3. KPI告警闪烁、电压越限着色、故障信息定位、告警分析提升.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-camera bg-purple"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-photo"></i></span>
                                <h3 class="timeline-header">
                                    <a>效果预览</a>
                                </h3>
                                <div class="timeline-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/8-1.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/8-2.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/8-3.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/8-4.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/8-5.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/8-6.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- Project7 -->
                        <li class="time-label">
                            <span class="bg-green">2014.06</span>
                        </li>
                        <li>
                            <i class="fa fa-tags bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time">持续时间:15个月 <i class="fa fa-clock-o"></i></span>
                                <h3 class="timeline-header">
                                    <a>项目名称</a> 列控中心维护终端&临时限速服务器维护终端
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">责任描述: 项目研发组长</p>
                                    <p class="text-muted">所在公司: 北京交大微联科技有限公司</p>
                                    <p class="text-muted">项目职务: 项目研发组长</p>
                                    <p class="text-muted">项目职责: 项目组织工作、框架的搭建和重要功能模块的实现</p>
                                    <p class="text-muted">项目技术: WPF,设计模式,Prism框架</p>
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">更多 >></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-thumb-tack bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time">规模:6个人 <i class="fa fa-cube"></i></span>
                                <h3 class="timeline-header no-border">
                                    <a>项目描述</a>
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">1. 设计定义维护终端接口规格.</p>
                                    <p class="text-muted">2. 获取工程化数据，udp网络通信,列控信息实时显示和监控，并记录运行日志;数据采取循环冗余覆盖,支持历史信息查询.</p>
                                    <p class="text-muted">3. 采用控件部署，对内部封闭，对外部开放，易于扩展，定义图形界面组元及属性.</p>
                                    <p class="text-muted">4. 友好性人机交互，站场图动态回放/暂停、加速、减速，并支持拖动进度条进行跳跃式播放，报警自动触发和显示.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-camera bg-purple"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-photo"></i></span>
                                <h3 class="timeline-header">
                                    <a>效果预览</a>
                                </h3>
                                <div class="timeline-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/7-1.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/7-2.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/7-3.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/7-4.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/7-5.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/7-6.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/7-7.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/7-8.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/7-9.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- Project6 -->
                        <li class="time-label">
                            <span class="bg-green">2013.03</span>
                        </li>
                        <li>
                            <i class="fa fa-tags bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time">持续时间:5个月 <i class="fa fa-clock-o"></i></span>
                                <h3 class="timeline-header">
                                    <a>项目名称</a> 站场图工具内核
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">责任描述: 项目组长</p>
                                    <p class="text-muted">所在公司: 北京交大微联科技有限公司</p>
                                    <p class="text-muted">项目职务: 项目组长</p>
                                    <p class="text-muted">项目职责: 项目组织工作、框架的搭建，主要模块的实现</p>
                                    <p class="text-muted">项目技术: WPF,设计模式</p>
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">更多 >></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-thumb-tack bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time">规模:3个人 <i class="fa fa-cube"></i></span>
                                <h3 class="timeline-header no-border">
                                    <a>项目描述</a>
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">1. 设计并实现站场图画布控件，支持画布的拖拽、鼠标和键盘事件响应.</p>
                                    <p class="text-muted">2. 设计并实现部分图形控件，支持图形元素属性的编辑、控件在画布上移动、缩放；并且根据属性驱动改变图形界面的显示效果.</p>
                                    <p class="text-muted">3. 遵循”开-闭原则”,尽量使得内核产品支持对内部修改封闭，对外部扩展开发.</p>
                                    <p class="text-muted">4. 本产品用于部门内列控中心站场图的生成、临时限速服务器站场图的生成、TSRT终端站场图的生成，兼容各个版本和工具的要求.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-camera bg-purple"></i>
                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-photo"></i></span>
                                <h3 class="timeline-header">
                                    <a>效果预览</a>
                                </h3>
                                <div class="timeline-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/6-1.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <a href="#" class="thumbnail">
                                                <img src="~/images/profile/6-2.png"
                                                     alt="..." class="img-responsive center-block">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- Project5 -->
                        <li class="time-label">
                            <span class="bg-green">2012.10</span>
                        </li>
                        <li>
                            <i class="fa fa-tags bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time">持续时间:8个月 <i class="fa fa-clock-o"></i></span>
                                <h3 class="timeline-header">
                                    <a>项目名称</a> 列控中心/限速服务器 应用数据自动化
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">责任描述: 研发,测试,数据生产</p>
                                    <p class="text-muted">所在公司: 北京交大微联科技有限公司</p>
                                    <p class="text-muted">项目职务: 列控中心及限速服务器静态数据的自动生成</p>
                                    <p class="text-muted">项目职责: 研发工程师</p>
                                    <p class="text-muted">项目技术: WPF,数据库,数据结构</p>
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">更多 >></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-thumb-tack bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time">规模:5个人 <i class="fa fa-cube"></i></span>
                                <h3 class="timeline-header no-border">
                                    <a>项目描述</a>
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">1. 访问工程化数据,并封装数据层,业务层采用linq语言组织业务逻辑，使用WPF数据绑定实现业务层和UI设计分离.</p>
                                    <p class="text-muted">2. 按照铁道部部文约定格式,将进路数据.线路数据.自定义数据统一录入,依据不同的生成模式,维护不同版本数据的生成.</p>
                                    <p class="text-muted">3. 对输入数据校核和排序, 输出数据和人工背靠背生成数据的自动比对.</p>
                                    <p class="text-muted">4. 自动生成周围软件的相关数据 (包括实验室仿真.维护机等).</p>
                                </div>
                            </div>
                        </li>

                        <!-- Project4 -->
                        <li class="time-label">
                            <span class="bg-green">2012.02</span>
                        </li>
                        <li>
                            <i class="fa fa-tags bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time">持续时间:8个月 <i class="fa fa-clock-o"></i></span>
                                <h3 class="timeline-header">
                                    <a>项目名称</a> TSRT终端软件
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">责任描述: 开发组长</p>
                                    <p class="text-muted">所在公司: 北京交大微联科技有限公司</p>
                                    <p class="text-muted">项目职务: 开发组长</p>
                                    <p class="text-muted">项目职责: 项目组织工作、框架的搭建，主要模块的实现</p>
                                    <p class="text-muted">项目技术: WPF,TCP/UDP</p>
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">更多 >></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-thumb-tack bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time">规模:4个人 <i class="fa fa-cube"></i></span>
                                <h3 class="timeline-header no-border">
                                    <a>项目描述</a>
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">1. 设计定义通信接口规格，主导架构设计和详细设计.</p>
                                    <p class="text-muted">2. 实现所有设备状态及站场图的显示，实现基于配置的协议动态解析，图形元素的属性显示和移动缩放等功能.</p>
                                    <p class="text-muted">3. 基于铁路信号安全协议的TCP通信实现，并显示实时站场信息和限速信息.</p>
                                    <p class="text-muted">4. 公里标模式和闭塞两种模式下，不同拟定命令的下达.</p>
                                </div>
                            </div>
                        </li>

                        <!-- Project3 -->
                        <li class="time-label">
                            <span class="bg-green">
                                2011.06
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-tags bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time">持续时间:11个月 <i class="fa fa-clock-o"></i></span>
                                <h3 class="timeline-header">
                                    <a>项目名称</a> 机车ATP开发
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">责任描述: V&V组长</p>
                                    <p class="text-muted">所在公司: 北京和利时系统工程有限公司</p>
                                    <p class="text-muted">项目职务: V&V组长</p>
                                    <p class="text-muted">项目职责: 对机车ATP开发进行安全分析和验证确认工作</p>
                                    <p class="text-muted">项目技术: C语言,数据结构</p>
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">更多 >></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-thumb-tack bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time">规模:10个人 <i class="fa fa-cube"></i></span>
                                <h3 class="timeline-header no-border">
                                    <a>项目描述</a>
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">1. 初步隐患分析、登记，危害识别，建立危害日志.</p>
                                    <p class="text-muted">2. 对整个项目生命周期做验证和确认工作.</p>
                                    <p class="text-muted">3. 组织安全分析工作，组织单元测试、集成测试，组织软硬件集成测试，组织系统确认测试.</p>
                                    <p class="text-muted">4. 与开发组长沟通并分配追踪问题.</p>
                                    <p class="text-muted">5. 铁道部专家评审认证，VV主要负责人.</p>
                                </div>
                            </div>
                        </li>

                        <!-- Project2 -->
                        <li class="time-label">
                            <span class="bg-green">2010.07</span>
                        </li>
                        <li>
                            <i class="fa fa-tags bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time">持续时间:12个月 <i class="fa fa-clock-o"></i></span>
                                <h3 class="timeline-header">
                                    <a>项目名称</a> 列控站间安全信息传输设备
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">责任描述: 软件工程师</p>
                                    <p class="text-muted">所在公司: 北京和利时系统工程有限公司</p>
                                    <p class="text-muted">项目职务: 软件开发</p>
                                    <p class="text-muted">项目职责: 列控中心相邻站传递信息功能实现</p>
                                    <p class="text-muted">项目技术: C语言,数据结构</p>
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">更多 >></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-thumb-tack bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time">规模:15个人 <i class="fa fa-cube"></i></span>
                                <h3 class="timeline-header no-border">
                                    <a>项目描述</a>
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">1. 设计实现安全计算单元SCU、驱动采集单元IOU、通信接口单元COMU、维护单元MU,采用符合故障－安全原则的2乘2取2安全计算机平台作为主逻辑运算单元.</p>
                                    <p class="text-muted">2. 报文编码实时组帧,如有异常导向安全侧.</p>
                                    <p class="text-muted">3. 系统平均故障间隔时间（MTBF）≥ 105h,系统的可维护性指标：MTTR≤1h.</p>
                                    <p class="text-muted">4. 安全主机软件运算周期范围为200ms~500ms.</p>
                                </div>
                            </div>
                        </li>

                        <!-- Project1 -->
                        <li class="time-label">
                            <span class="bg-green">2009.07</span>
                        </li>
                        <li>
                            <i class="fa fa-tags bg-blue"></i>
                            <div class="timeline-item">
                                <span class="time">持续时间:5个月 <i class="fa fa-clock-o"></i></span>
                                <h3 class="timeline-header">
                                    <a>项目名称</a> GSM-R Mobile车载电台与ISDN转换接口装置
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">责任描述: 软件开发工程师</p>
                                    <p class="text-muted">所在公司: 北京和利时系统工程有限公司</p>
                                    <p class="text-muted">项目职务: 软件开发</p>
                                    <p class="text-muted">项目职责: GSM-R Mobile车载电台与ISDN转换接口装置对端安全功能模块实现</p>
                                    <p class="text-muted">项目技术: C语言,数据结构</p>
                                </div>
                                <div class="timeline-footer">
                                    <a class="btn btn-primary btn-xs">更多 >></a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-thumb-tack bg-aqua"></i>
                            <div class="timeline-item">
                                <span class="time">规模:8个人 <i class="fa fa-cube"></i></span>
                                <h3 class="timeline-header no-border">
                                    <a>项目描述</a>
                                </h3>
                                <div class="timeline-body">
                                    <p class="text-muted">1. 遵循欧洲无线标准Subset037协议,对应用数据进行封装和解析.</p>
                                    <p class="text-muted">2. SFM安全功能模块的设计和实现，支持SFM到CFM(通信功能模块)接入点访问,支持从GSM-R Mobile方或ISDN方逻辑链路的请求建立、释放、数据的传输、数据可信度、完整度的检测和错误报告.</p>
                                    <p class="text-muted">3. ISDN装置采用一次群速率（30B+D，2Mbps），支持最大30路车载设备同时建立连接并相互独立，通过大数据量拷机测试.</p>
                                    <p class="text-muted">4. 对特殊数据的优先处理.</p>
                                </div>
                            </div>
                        </li>

                        <!-- start -->
                        <li class="time-label">
                            <span class="bg-green">2009.02</span>
                        </li>
                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="settings">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-photo margin-r-5"></i>预览
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="img_show"></div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('.thumbnail img').click(function () {
            var file = $(this).attr('src')
            var fileNames = file.split('.')
            $("#myModal").find("#img_show").html("<image src='" +
                fileNames[0] + '-lg.' + fileNames[1] +
                "' class='carousel-inner img-responsive img-rounded' />")
            $("#myModal").modal();
        })
    </script>
}
