@{
    Layout = null;
    ViewData["Title"] = "欢迎";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Cache-Control" content="max-age=259200, must-revalidate" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="googlebot" content="archive" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - LanceL0t</title>
    <meta name="description" content="Big Deal Engine - probably, the best e-Sports site engine in the world">
    <meta name="keywords" content="E-sports, e-Sports website, computer sports website, bets on e-Sports"> <!-- MAIN FAVICON -->
    <link rel="icon" href="/lib/easyrocketstudio/dist/img/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/lib/easyrocketstudio/dist/css/normalize-min.css">
    <link rel="stylesheet" href="/lib/easyrocketstudio/dist/css/pace.css">
    <link rel="stylesheet" href="/lib/easyrocketstudio/dist/css/main.css"> <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
</head>
<body>
    <div id='loader' class='fd-loader' style='position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 50; background: #041527 url("/lib/easyrocketstudio/dist/img/bg-main.png") 0 0 repeat;'>
        <span class='tossing' style='position: fixed; top: 50%; left: 50%; z-index: 51; width: 136px; margin-left: -68px; margin-top: -64px; height: 129px; background: url("/lib/easyrocketstudio/dist/img/loader-bg.png") 0 0 no-repeat;'></span>
        <div class='cow' style='position: fixed; top: 80%; margin-top: -42px; left: 50%; z-index: 49; width: 46px; margin-left: -23px; height: 29px; background: url("/lib/easyrocketstudio/dist/img/loader-cow.png") 0 0 no-repeat;'></div>
    </div>
    <div class="menu-container">
        <a href="" class="btn-menu j-btn-menu" data-menu='site-menu'></a>
        <div class="menu-list" id='site-menu'>
            <ul>
                <li><a href="#0" data-screen="1">About</a></li>
                <li><a href="#0" data-screen="2">E-Sports</a></li>
                <li><a href="#0" data-screen="3">Our projects</a></li>
                <li><a href="#0" data-screen="6">System modules</a></li>
                <li><a href="#0" data-screen="7">Support</a></li>
                <li><a href="#0" data-screen="8">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div class="page-wrapper page">
        <div class="user-menu">
            <a href="/downloads/easyrocketstudio-en.pdf" target='_blank' class="btn btn-small">Download presentation</a> <a href="#0" class="language j-btn-menu" data-menu='lang-menu'>en</a>
            <div class="menu-list" id='lang-menu' style='float: right; text-align: right; position: absolute; right: 0px;'>
                <ul> <li><a href='/ru'>RU</a></li> <li><a href='/'>EN</a></li> </ul>
            </div>
        </div> <img src="/lib/easyrocketstudio/dist/img/asteroids-left.png" alt="pic" class="a-left">
        <img src="/lib/easyrocketstudio/dist/img/asteroids-right.png" alt="pic" class="a-right">
        <img src="/lib/easyrocketstudio/dist/img/asteroids-left.png" alt="pic" class="b-left">
        <img src="/lib/easyrocketstudio/dist/img/asteroids-right.png" alt="pic" class="b-right">

        <div class="container" style='padding-top: 0;'>
            <div class="center">
                <div class="screen-7">
                    <div class="block" style='margin-top: 0;'>
                        <h3 class="title title-medium">欢 迎</h3>
                        <p class="text"> We care about the quality of our product and do our best to make sure, that your workflow with Big Deal Engine is stable and comfortable. </p>
                    </div>
                    <div class="planet-3-area centered" style="cursor: pointer;">
                        <canvas id="canvasMagneto" class="magneto" width="600" height="640"></canvas>
                        <div class="planet-3-obits">
                            <span class="text-huge"> 进入首页 </span>
                            <p class="text-small">you can be sure in tech support for your product</p>
                            <a class="btn-arrow-down to-second centered">
                                @*<span class="arrow-down-p1"></span>*@
                                <span class="arrow-down-p2"></span>
                                <span class="arrow-down-p3"></span>
                            </a>
                        </div>
                        <div class="plus plus-1">
                            <span>Patches are released</span>
                            <p class='text-small'>monthly</p>
                        </div>
                        <div class="plus plus-2">
                            <span>New modules are released</span>
                            <p class='text-small'>and modernized</p>
                        </div>
                        <div class="block-bordered text-small"> System setup is being made on your dedicated server by our specialists, allowing us to launch your e-Sports website in really short terms. Our tech support team is available 24/7, that’s why you can always count on our help in difficult situations. </div>
                    </div>
                </div>
            </div><!-- end of center -->
        </div><!-- end of container --> <!-- END OF THE 7th SCREEN --> <!-- THE LAST 8th SCREEN -->
        <div class="screen-8">
            <div class="block-bottom">
                <div class="block-bottom-top"></div>
                <div class="block-bottom-main">
                    <div id="clouds">
                        <div class="cloud cloud-1"></div>
                        <div class="cloud cloud-2"></div>
                        <div class="cloud cloud-3"></div>
                        <div class="cloud cloud-4"></div>
                        <div class="cloud cloud-5"></div>
                        <div class="cloud cloud-6"></div>
                    </div>
                    <div class="container">
                        <div class="observatory">
                            <div class="navigator"></div>
                        </div>
                        <div class="block-bottom-content">
                            <a href="/downloads/easyrocketstudio-en.pdf" target='_blank' class="btn btn-small">Download presentation</a>
                            <h3 class="title title-medium">Let's talk business</h3>
                            <p class="text"> To get started just conact us via e-mail and our managers will provide you with all necessary information for start of your own e-Sports platform. </p>
                            <div class="questions">
                                <p>If you have questions, adress them here</p> <a href="mailto:rocket@easyrocketstudio.com">rocket@easyrocketstudio.com</a>
                            </div>
                        </div><!-- end of block-bottom-content -->
                    </div><!-- end of container -->
                </div><!-- end of block-bottom-main -->
            </div><!-- end of block-bottom -->
        </div> <!-- END OF THE LAST 8th SCREEN -->
        <div class="wrapper-nebula">
            <div id="container" class="container-nebula">
                <div id="output" class="container-nebula"> </div>
            </div>
        </div> <canvas id="bg-stars" class="bg-stars"> </canvas> <canvas id="world" class="planet-3-orbit" width="800" height="600"></canvas> <canvas id="world-2" class="planet-3-orbit" width="800" height="600"></canvas> <canvas id="world-3" class="planet-3-orbit" width="800" height="600"></canvas> <canvas id="stars-cursor"></canvas>
    </div><!-- end of page-wrapper --> <!--<script src="/js/pace.min.js"></script>-->
    <script type='text/javascript'>
        var isMobile = false;
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            isMobile = true;
        }
    </script>
    <script src="/lib/easyrocketstudio/dist/js/jquery-2.1.1.min.js"></script>
    @*<script src="/lib/easyrocketstudio/dist/js/modernizr-2.0.6-min.js"></script>*@
    <script src="/lib/easyrocketstudio/dist/js/pixi.js"></script>
    @*<script src="/lib/easyrocketstudio/dist/js/austro-min.js"></script>*@
    <script src="/lib/easyrocketstudio/dist/js/bg-stars-pixi.js"></script>
    @*<script src="/lib/easyrocketstudio/dist/js/fss-min.js"></script>*@
    <script src="/lib/easyrocketstudio/dist/js/magneto-min.js"></script>
    <script src="/lib/easyrocketstudio/dist/js/main-min.js"></script>
    <script src="/lib/easyrocketstudio/dist/js/asteroids-min.js"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            $("#loader span").delay(1000).animate({ "top": "51%" },
                100,
                function () {
                    $(".cow").animate({ "margin-top": "300px", "opacity": 0 }, 500);
                    $("#loader span").animate({ "top": -200 },
                        700,
                        function () {
                            $("#loader").fadeOut("fast");
                        });
                });
            $('.planet-3-area').click(function () {
                window.location.href = "/Home/Index";
            });
        })
    </script>
</body>
</html>