@using MyWebSite.ViewModels
@using MyWebSite.Areas.Configuration.Models
@model MyWebSite.Areas.Configuration.Models.Menu

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "菜单编辑";

    var breadcrumb = new BreadCrumb("菜单编辑", "Version 2.0", new List<NavCrumb>
    {
        new NavCrumb(name:"菜单管理",url: "/Configuration/Menu"),
        new NavCrumb(name:"菜单编辑"),
        new NavCrumb(name:Model.Id),
    });
    ViewBag.BreadCrumb = breadcrumb;

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="~/lib/AdminLTE/bower_components/select2/dist/css/select2.min.css">
}
<section class="content">
    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">编辑</h3>
                </div>
                <form asp-action="Edit">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="box-body">
                        <div class="form-group col-md-6">
                            <label asp-for="Id">菜单编号</label>
                            <input asp-for="Id" class="form-control input-sm" readonly>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="Name">菜单名称</label>
                            <input asp-for="Name" class="form-control input-sm">
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="ParentId">父级菜单</label>
                            <select asp-for="ParentId" class="form-control input-sm select2" asp-items="ViewBag.ParentIds">
                                <option value="">-- 请选择 --</option>
                            </select>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="IndexCode">组内排序</label>
                            <input asp-for="IndexCode" class="form-control input-sm">
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="MenuType">菜单类型</label>
                            <select asp-for="MenuType" class="form-control input-sm" asp-items="ViewBag.MenuTypes">
                                <option value="">-- 请选择 --</option>
                            </select>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="Icon">菜单图标</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i id="IconfShow" class="fa @Model.Icon"></i></span>
                                <input asp-for="Icon" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="Url">菜单路径</label>
                            @if (Model.MenuType == MenuTypes.操作菜单)
                            {
                                <input asp-for="Url" class="form-control input-sm">
                            }
                            else
                            {
                                <input asp-for="Url" class="form-control input-sm" readonly>
                            }
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="Remarks">备注</label>
                            <input asp-for="Remarks" class="form-control input-sm">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary"><i id="IconfShow" class="fa fa-save margin-r-5"></i>保存</button>
                        <a asp-action="Index" class="btn btn-default"><i id="IconfShow" class="fa fa-undo margin-r-5"></i>返回</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
@section Scripts {
    <script src="~/lib/AdminLTE/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/lib/AdminLTE/bower_components/select2/dist/js/i18n/zh-CN.js"></script>
    <script src="~/js/Configuration/Menu.js" ></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
