@model MyWebSite.Models.Configuration.Menu

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <input asp-for="ParentId" class="form-control" />
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndexCode" class="control-label"></label>
                <input asp-for="IndexCode" class="form-control" />
                <span asp-validation-for="IndexCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaUrl" class="control-label"></label>
                <input asp-for="AreaUrl" class="form-control" />
                <span asp-validation-for="AreaUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ControllerUrl" class="control-label"></label>
                <input asp-for="ControllerUrl" class="form-control" />
                <span asp-validation-for="ControllerUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionUrl" class="control-label"></label>
                <input asp-for="ActionUrl" class="form-control" />
                <span asp-validation-for="ActionUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuType" class="control-label"></label>
                <select asp-for="MenuType" class="form-control"></select>
                <span asp-validation-for="MenuType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
