@using MyWebSite.ViewModels
@{
    ViewData["Title"] = "网站统计";
    var breadcrumb = new BreadCrumb("网站统计", "Version 2.0",
        new List<NavCrumb> { new NavCrumb("工具箱"), new NavCrumb("网站统计") });
    ViewBag.BreadCrumb = breadcrumb;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" href="~/lib/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/lib/AdminLTE/plugins/iCheck/all.css" />
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-map-marker text-light-blue margin-r-5"></i>地域分布</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <!-- 时间筛选 -->
                        <form class="form-inline" role="form">
                            <div class="form-group margin-r-15">
                                <label class="margin-r-5">时间段:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <input type="text" class="form-control" id="dateRange">
                                </div>
                            </div>
                            <div class="form-group margin-r-10">
                                <label class="margin-r-10">
                                    <input type="radio" name="rdDateRange" class="margin-r-15" id="rdToday" checked> 今天
                                </label>
                                <label class="margin-r-10">
                                    <input type="radio" name="rdDateRange" class="margin-r-15" id="rdYesterday"> 昨天
                                </label>
                                <label class="margin-r-10">
                                    <input type="radio" name="rdDateRange" class="margin-r-15" id="rdLast7Days"> 最近7天
                                </label>
                                <label class="margin-r-10">
                                    <input type="radio" name="rdDateRange" class="margin-r-15" id="rdLast30Days"> 最近30天
                                </label>
                            </div>
                            <div class="form-group" style="overflow-x:auto;">
                                <table class="summary-table">
                                    <tbody>
                                        <tr>
                                            <td class="text-muted">
                                                <span class="text">
                                                    浏览量(PV)
                                                    <i class="fa fa-question-circle question-tooltip" data-toggle="tooltip" data-placement="bottom"
                                                       title="即通常说的Page View(PV)，用户每打开一个网站页面就被记录1次。用户多次打开同一页面，浏览量值累计。"></i>
                                                </span>
                                                <div id="pv_count"></div>
                                            </td>
                                            <td class="text-muted">
                                                <span class="text">
                                                    访客数(UV)
                                                    <i class="fa fa-question-circle question-tooltip" data-toggle="tooltip" data-placement="bottom"
                                                       title="一天之内您网站的独立访客数(以Cookie为依据)，一天内同一访客多次访问您网站只计算1个访客。"></i>
                                                </span>
                                                <div id="visitor_count"></div>
                                            </td>
                                            <td class="text-muted">
                                                <span class="text">
                                                    IP数
                                                    <i class="fa fa-question-circle question-tooltip" data-toggle="tooltip" data-placement="bottom"
                                                       title="一天之内您网站的独立访问ip数。"></i>
                                                </span>
                                                <div id="ip_count"></div>
                                            </td>
                                            <td class="text-muted">
                                                <span class="text">
                                                    跳出率
                                                    <i class="fa fa-question-circle question-tooltip" data-toggle="tooltip" data-placement="bottom"
                                                       title="只浏览了一个页面便离开了网站的访问次数占总的访问次数的百分比。"></i>
                                                </span>
                                                <div id="bounce_ratio"></div>
                                            </td>
                                            <td class="text-muted">
                                                <span class="text">
                                                    平均访问时长
                                                    <i class="fa fa-question-circle question-tooltip" data-toggle="tooltip" data-placement="bottom"
                                                       title="访客在一次访问中，平均打开网站的时长。即每次访问中，打开第一个页面到关闭最后一个页面的平均值，打开一个页面时计算打开关闭的时间差。"></i>
                                                </span>
                                                <div id="avg_visit_time"></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </form>
                    </div>
                    <!-- 分布地图 -->
                    <div class="col-md-6 col-sm-6">
                        <div class="box-body">
                            <div id="map-markers" class="text-center" style="height: 420px;">
                                <div>浏览量地域分布</div>
                            </div>
                        </div>
                    </div>
                    <!-- 分布表格 -->
                    <div class="col-md-4 col-sm-4" style="height: 440px; overflow: auto;">
                        <table class="table table-bordered" id="districtTable">
                            <tbody>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>省份</th>
                                    <th>浏览量(PV)</th>
                                    <th>占比</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 近一周统计 -->
                    <div class="col-md-2 col-sm-2">
                        <div class="pad box-pane-right bg-green" style="min-height: 280px">
                            <div class="description-block margin-bottom" id="trend_pv_count">
                                <div class="sparkbar pad" data-color="#fff"></div>
                                <h5 class="description-header"></h5>
                                <span class="description-text">浏览量(PV)</span>
                            </div>
                            <div class="description-block margin-bottom" id="trend_visitor_count">
                                <div class="sparkbar pad" data-color="#fff"></div>
                                <h5 class="description-header"></h5>
                                <span class="description-text">访客数(UV)</span>
                            </div>
                            <div class="description-block" id="trend_ip_count">
                                <div class="sparkbar pad" data-color="#fff"></div>
                                <h5 class="description-header"></h5>
                                <span class="description-text">IP数</span>
                            </div>
                            <div class="description-block" id="trend_avg_visit_time">
                                <div class="sparkbar pad" data-color="#fff"></div>
                                <h5 class="description-header"></h5>
                                <span class="description-text">平均访问时长</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/lib/AdminLTE/plugins/jvectormap/jquery-jvectormap-cn-mill.js"></script>
    <script src="~/lib/AdminLTE/bower_components/chart.js/Chart.js"></script>
    <script src="~/lib/AdminLTE/bower_components/jquery-sparkline/dist/jquery.sparkline.js"></script>
    <script src="~/lib/AdminLTE/bower_components/moment/moment.js"></script>
    <script src="~/lib/AdminLTE/bower_components/moment/locale/zh-cn.js"></script>
    <script src="~/lib/AdminLTE/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/AdminLTE/plugins/iCheck/icheck.js"></script>
    <script src="~/js/Tools/SiteAnalytics.js"></script>
}
