<section class="row" ng-controller="EssayCreateController">
    <div class="col-md-12">
        <div class="box">
            <form role="form" name="myForm" novalidate>
                <div class="box-body">
                    <div class="form-group {{myForm.title.$dirty && myForm.title.$error.required?'has-error':''}}">
                        <label for="title">标题</label>
                        <input type="text" name="title"
                               class="form-control input-sm" placeholder="输入文章标题..."
                               ng-model="essay.title" required>
                    </div>
                    <div class="form-group">
                        <label for="editorEssay">内容</label>
                        <span class="pull-right">
                            <a class="margin-r-5" style="cursor: pointer" id="recoveryTmpEssay">恢复数据</a>
                            <span id="autoSaveInfo" class="text-red">数据尚未自动保存</span>
                        </span>
                        <textarea id="editorEssay"></textarea>
                    </div>
                    <button class="btn btn-instagram"
                            ng-disabled="myForm.title.$invalid || submitting"
                            ng-click="onSubmit()"
                            ladda="submitting"
                            data-style="expand-right">
                        <i class="fa fa-save margin-r-5"></i>发布
                    </button>
                    <button class="btn btn-instagram" ui-sref="EssayIndex">
                        <i class="fa fa-undo margin-r-5"></i>取消
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>