<section class="essay" ng-controller="EssayIndexController">
    <div class="row">
        <div class="col-md-12" id="navigator">
            <img src="/images/post_title.jpg" border="0">
            <ul id="navList">
                <li><a ui-sref="EssayCreate">新随笔</a></li>
                <li><a ui-sref="">随笔管理</a></li>
                <li><a ui-sref="">分类管理</a></li>
                <li><a ui-sref="">评论管理</a></li>
                <li><a ui-sref="">设置选项</a></li>
            </ul>
            <div class="blogStats">
                <div id="blog_stats">
                    随笔- {{essayPaginatedList.totalCount}}&nbsp;
                    评论- 104&nbsp;
                </div>
            </div>
        </div>
        <div class="col-md-10 day">
            <div ng-repeat="essay in essayPaginatedList.items">
                <div class="postTitle">
                    <a ui-sref="EssayDetails({id:essay.essayID})">{{essay.title}}</a>
                </div>
                <div class="postCon">
                    摘要: {{essay.summary}}...&nbsp;&nbsp;<a ui-sref="EssayDetails({id:essay.essayID})">阅读全文</a>
                </div>
                <div class="clear"></div>
                <div class="postDesc">
                    posted @ {{ essay.createTime | date :'yyyy-MM-dd HH:mm'}} | 点赞(-) | 评论(-) <a ui-sref="EssayEdit({id:essay.essayID})">编辑</a>
                </div>
                <div class="clear"></div>
                <div class="postSeparator"></div>
            </div>
            <div>
                <div class="box-footer">
                    <span>{{essayPaginatedList.totalCount}}条记录, 共{{essayPaginatedList.totalPages}}页</span>
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li>
                            <a ui-sref="EssayIndex({pageIndex:essayPaginatedList.pageIndex-1})"
                               class="btn {{essayPaginatedList.hasPreviousPage?'':'disabled'}}">&lt;上一页</a>
                        </li>
                        <li ng-repeat="x in essayPaginatedList.pageList">
                            <a ui-sref="EssayIndex({pageIndex:x})"
                               class="{{essayPaginatedList.pageIndex==x?'bg-gray':''}}">{{x}}</a>
                        </li>
                        <li>
                            <a ui-sref="EssayIndex({pageIndex:essayPaginatedList.pageIndex+1})"
                               class="btn {{essayPaginatedList.hasNextPage?'':'disabled'}}">下一页&gt;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-2 sidecolumn">
            <div class="catListPostCategory">
                <h4 class="catListTitle">随笔分类</h4>
                <ul>
                    <li><a ui-sref="">ASP.NET Core(6)</a> </li>
                    <li><a ui-sref="">ASP.NET MVC(1)</a> </li>
                    <li><a ui-sref="">Golang(3)</a> </li>
                    <li><a ui-sref="">Redis(3)</a> </li>
                    <li><a ui-sref="">Unity3D(4)</a> </li>
                    <li><a ui-sref="">WPF(3)</a> </li>
                </ul>
            </div>
            <div class="catListPostCategory">
                <h4 class="catListTitle">随笔归档</h4>
                <ul>
                    <li><a ui-sref="">2018年02月(6)</a> </li>
                    <li><a ui-sref="">2018年01月(1)</a> </li>
                    <li><a ui-sref="">2017年12月(3)</a> </li>
                    <li><a ui-sref="">2017年11月(3)</a> </li>
                    <li><a ui-sref="">2017年10月(4)</a> </li>
                    <li><a ui-sref="">2017年09月(3)</a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>