@model MyWebSite.ViewModels.AccountViewModels.LoginViewModel

@{
    Layout = null;
    ViewData["Title"] = "登录";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LanceL0t</title>

    @await Html.PartialAsync("_SiteCssPartial")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-box-body">
            <p class="login-box-msg">访问受限,需要管理员权限,由此登录</p>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group has-feedback">
                    <input asp-for="Email" class="form-control" placeholder="邮箱">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input asp-for="Password" class="form-control" placeholder="密码">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe"> @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-instagram btn-block btn-flat">登录</button>
                    </div>
                </div>
            </form>
            <div class="social-auth-links text-center">
                <p>- 或者 -</p>
                <a name="register" href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using
                    Facebook
                </a>
                <a name="register" href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </a>
            </div>
            <div><a name="register" href="#">忘记密码</a></div>
            <div><a name="register" href="#">立即注册</a><a class="pull-right" href="/"><i class="fa fa-arrow-left margin-r-5"></i>返回主页</a></div>
        </div>
    </div>
</body>
</html>

@await Html.PartialAsync("_SiteScriptsPartial")
@await Html.PartialAsync("_ValidationScriptsPartial")
<script>
    //勾选框样式
    $('.icheck input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        increaseArea: '20%'
    })
    //警告框
    $('a[name="register"]').click(function() {
        $.alert({
            icon: 'fa fa-warning',
            title: '警告',
            type: 'orange',
            closeIcon: true,
            content: '目前尚未开放外部人员注册权限,请与管理员联系.',
            buttons: {
                close: {
                    text: '确定',
                    btnClass: 'btn-warning'
                }
            }
        });
    });
</script>