<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["loading"] LanceL0t</title>

    @await Html.PartialAsync("_SiteCssPartial")
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- 顶部区域 -->
        @await Html.PartialAsync("_LayoutHeaderPartial")
        <!-- 导航栏 -->
        @await Html.PartialAsync("_LayoutNavbarPartial")
        <!-- 内容区域 -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Version 2.0</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-dashboard"></i> 主页</a></li>
                    <li class="active">Dashboard</li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <!-- 底部区域 -->
        @await Html.PartialAsync("_LayoutFooterPartial")
        <!-- 侧边栏 -->
        @await Html.PartialAsync("_LayoutSidebarPartial")
    </div>

    @await Html.PartialAsync("_SiteScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>