        <!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version 1.0.3</b>
    </div>
    <div>
        <span class="margin-r-5">Copyright &copy; @(DateTime.Now.Year.ToString())-@(DateTime.Now.AddYears(2).Year.ToString())</span>
        <a class="margin-r-5" href="https://www.lancel0t.cn">Lancel0t</a>
        <span class="margin-r-5">All rights reserved</span>
        <a class="margin-r-5" target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备17074256号</a>
    </div>
</footer>